body{
    background-image: url("ross-parmly-rf6ywHVkrlY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.div1 ul{
    margin-top: 0px;
    background-color: darkblue;
    height: 50px;
    width: 100%;
}

.div1 a{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    
}

.div1 ul li{
    list-style: none;
    display: block;
    float: left;
    padding: 15px;
    margin-left: 0px;
    font-weight: 200;
}

.div1 li:last-child{
    float: right;
    margin-right: 30px;
    height: 10px;
    padding: 15px;
}

.div1 li button{
    padding: 10px;
    margin-right: 10px;
    background-image: url(search.svg);
    background-color: whitesmoke;
    background-repeat: no-repeat;
    background-size:auto;
    
    
}

.div1 a:hover{
    color: whitesmoke;
}


.div3{
    margin: 50px;
    background-color: skyblue;
    border-radius: 20px;
    padding: 8px ;
    width: 70%;
    margin-left: 230px;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;

}

.div3 h1{
    text-align: center;
}


.div3 input{
    width: 40%;
    border-radius: 5px;
    padding: 10px;
    display:grid;
    
}

.div3 button{
    align-items: center;
    margin-left: 1px;
}

.div3 button:hover{
    color: lightblue;
}