body{
    background-image: url("pictures/ross-parmly-rf6ywHVkrlY-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.div1 {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: darkblue;
}


.div1 ul{
    margin-top: 0px;
    background-color: darkblue;
    height: 50px;
    width: auto;
}

.div1 a{
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    
}

.div1 ul li{
    list-style: none;
    display: block;
    float: left;
    padding: 15px;
    margin-left: 0px;
    font-weight: 200;
}

.div1 li:last-child{
    float: right;
    margin-right: 30px;
    height: 10px;
    padding: 15px;
}

.div1 li button{
    padding: 6px;
    margin-top: 8px;
    margin-right: 16px;
    width: 10px;
}

.div1 a:hover{
    color: whitesmoke;
}

.div2{
    border-radius: 10px;
    background-color: #87CEEB; /* sky blue color */
    margin-top: 100px;
    width: 60%;
    margin-left: 18%;
    padding: 20px;
    
}

.div2 table{
    margin-top: 10px;
    border-collapse: collapse;
    width: 100%;
    color: #333; /* default color for text */
    font-size: 18px;
    text-align: left;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;

}

.div2 th{
    background-color: #000080; /* dark blue color */
  color: #fff; /* white color */
  font-weight: bold;
  padding: 12px;
  text-align: center    ;
}

.div2 td{
    padding: 12px;
  border: 1px solid #ddd;
}

.div2 tr:nth-child(even) {
    background-color: #f2f2f2;
}

.div2 tr:hover{
    background-color: #f5f5f5;
}




    
    




